<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer"  connectionString="Data Source=(local); Initial Catalog =WAPS_Kojaris; User ID =sa; Password = sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>   
        <add value="WGSService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WGSService.WGSServiceBehavior"  name="WGSService.WGSService">
        <endpoint address="" binding="wsHttpContextBinding" contract="WGSService.IWGSService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WGSService.WGSServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
 <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->
  
</configuration>
