@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+6285717640426</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Gmail:</span>
        <span><a href="mailto:arjo.look26@gmail.com">arjo.look26@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Yahoo:</span>
        <span><a href="mailto:andianto_look@yahoo.co.id">andianto_look@yahoo.co.id</a></span>
    </p>
    <p>
        <span class="label">Live:</span>
        <span><a href="mailto:andi.diarjo@yahoo.co.id">andi.diarjo@live.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Green Valley Residance Blok E-22, Pasir Layung, Cibeunying Kidul, Bandung
    </p>
</section>