@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                This application was made as condition to participate in the recruitment process in PT. Walden Global Service
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Task 1</h5>
        Implementing Basic CRUD functionality with the Entity Framework in ASP.Net MVC Application version 3.5 or 4.0.
        <br /><br />
        <p>
            For implementing basic CRUD you can see it in the tab Banks.
        </p>
    </li>

    <li class="two">
        <h5>Task 2</h5>
        Please explain and  try to implement application using WCF Services.
        <br /><br />
        <p>
        For implement application using WCF Services, I made service with the WGSDataService   
        </p>
    </li>

    <li class="three">
        <h5>Task 3</h5>
        Please explain and try to create small application which adapted 3 Tier architecture based task number one
        <br /><br />
        <p>
        Overall application that I've posted already adapted 3 Tie architecture.
        </p>
    </li>
</ol>
