<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Data Source=DIARJO-PC\SERVER08; Initial Catalog =WGSTest; User ID =sa; Password = 123;" name="LocalSqlServer" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WGSDataService.WGSCRUDServiceBehavior" name="WGSDataService.WGSCRUDService">
        <endpoint address="" binding="wsHttpContextBinding" contract="WGSDataService.ICRUDService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>  
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="WGSDataService.WGSCRUDServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <add value="WGSCRUDService.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
</configuration>
